[Unit]
Description=RPi ONVIF Camera Server
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3
Conflicts=mediamtx.service

[Service]
Type=simple
User=pi
Environment=LD_LIBRARY_PATH=/home/pi/rpi-cam/deploy/bin
WorkingDirectory=/home/pi/rpi-cam
ExecStart=/home/pi/rpi-cam/rpi-cam -config /home/pi/rpi-cam/config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
